body{
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: #404040;
    background-color: #eceeec;
}

a{
    text-decoration: none;
    color: #0075c5;
}

/* Header */

header{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
header{
    font-size: 13px;
    letter-spacing: 0.003ch;
    margin: 0 4px 0 0;
}

button{
    font-size: 16px;
    border: none;
    border: 1px solid #4c4c4c;
    border-radius: 3px;
    color: white;
    background-color: #0077c5;
    cursor: pointer;
}

header button{
    width: 103px;
    height: 34px;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 3px;
}

/* Container */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The logo-link part */

.logo-link{
    text-align: center;
    margin: 20px 0;
}

.logo-link a{
    color: inherit;
}

button i{
    margin-right: 5px;
}

.ip-group{
    margin-top: 7px;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #585a5e;
}

.ip-group i{
    margin: 0 3px 0 5px;
    font-size: 1.25em;
}

.fa-quinscape{
    color: #4ea11e;
}

.fa-check-circle{
    color: #d63b1f;
}

/* MODULE */
.module{
    width: 320px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}
.create-account{
    text-align: center;
}

.create-account a{
    font-size: 12px;
}
label{
    display: block;
    margin: 20px 0 10px;
}
.input-section{
    margin-bottom: 37.25px;
}
input{
    height: 29px;
    width: 98%;
    border: 1px solid #c1c5c8;
    border-radius: 3px;
}

.input-selection:last-of-type{
    position: relative;
}
.fa-unlock-alt{
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 20px;
    color: #757575;
}

.last-div{
    width: 300px;
    padding: 10px 40px;
    background-color: #eceeec;
    border: 1px solid #c7c7c7;
    border-top: none;
    border-radius: 0 0 2px 2px;
    font-size: 10px;
    color: #8d9096;
}
.flag{
    position: fixed;
    bottom: 0;
    right: 50px;
    height: 41px;
    border: 1px solid #6b6c72;
    color: white;
    font-size: 14px;
}
/* FOOTER */
.footer{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-links{
    margin-top: 15px;
    align-items: center;
}

.footer-links a{
    margin-left: 5px;
    color: #505050;
    font-size: 12px;
}
.copyright p{
    margin: 2px;
  text-align: center;
  font-size: 12px;
  color: #505050;
}